body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

section {
  flex-grow: 1;/*
  box-shadow: grey 0 0 5px 5px;
  margin: 50px;*/
}

header, footer {
  background: linear-gradient(#35FF30 85%, black);
  flex-shrink: 0;
  min-height: 40px;
}
